* {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    margin: 0;
    padding: 0;   
    background-color:#9dacca ;
}
/* ------header------ */
header{
    background-color: #4c4f61;
    height:220px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    float:left;
}
.title{
    justify-content: center;
    display: flex;
    color: #5fb458;
    font-size: 40px;
    margin-top: 10px;
}
.para1{
    display: flex;
    justify-content: center;
    color: #d6dde5;
    font-size: 30px;
    line-height: 50px;
}
.logo{
    margin-top: -150px;
    height: 100px;
    margin-left: 5%;
    float: left;
}
.menu{
    justify-content:space-around;
    display: flex;
    padding: 20px;
    background-color:#5fb458;
    font-size: 20px;
    align-items: center;
}
.menu > a{
    text-decoration: none;
}
.burger{
    display: none;
}
#search{
    border-radius:30px;
    border: 2px solid black;
    text-align: center;
    height: 30px;
}
@media screen and (max-width: 650px)
    {
    header{
        margin:auto;
        width:100%;
        height: 100px;
        background-color:#9dacca
    }
    .title{
        font-size:25px;
    }
    .para1{
        font-size: 16px;
        margin-left: 60px;
        margin-top: 15px;
        line-height: 30px;
    }
    .burger,.logopanier{
        display:inline-block;
        cursor:pointer;
        background: none;
        border: none;
        margin-top: -5px;
        margin-left: -25px;
        width: 50px; height: 50px;
    }
    .menu > a{
        display: none;
    }
    .logo{
        margin-top: -100px;
        height: 75px;
        margin-left: 25px;
        float:left;
    }
    .shop{
        background: none;
        border: none;
        display:inline-block;
        cursor:pointer;
        margin-top: -10px;
        margin-left: 30px;
    }
    .menu{
        margin-left: 25px;
        background-color:#9dacca
    }
}
/* ------header------ */

/*-------SLIDER PRESENTATION------*/
/***CSS SLIDER IMAGES****/
#container{/*englobe le tout*/
    display:flex;
    width:100%;
    align-items:center;
    justify-content:space-around;
}
.galery{/*englobe le premier diaporama seul*/
    box-sizing:border-box;
    margin:auto;
    height:331px;
    width:500px;
    overflow:hidden;
}

/*IMAGES DU PREMIER DIAPORAMA*/
.img1{
    background-image: url('../images/1.jpg');
}
.img2{
    background-image: url('../images/2.jpg');
}
.img3{
    background-image: url('../images/3.jpg');
}
.img4{
    background-image: url('../images/4.jpg');
}
.img5{
    background-image: url('../images/5.jpg');
}
.img6{
    background-image: url('../images/1.jpg');
}

/*IMAGES DU SECOND DIAPORAMA*/
.img7{
    background-image: url('../images/7.jpg');
}
.img8{
    background-image: url('../images/8.jpg');
}
.img9{
    background-image: url('../images/9.jpg');
}
.img10{
    background-image: url('../images/10.jpg');
}
.img11{
    background-image: url('../images/11.jpg');
}
.img12{
    background-image: url('../images/7.jpg');
}

.slider{/*premier diaporama*/
    height:100%;
    width:600%;
    display:flex;
}
.slide{/*gère les images*/
    height:100%;
    width:100%;
    animation:10s slide infinite;/*permet aux images de glisser indéfinimement*/
    background-size:cover;
    background-position:center;
}
.text_up{/*texte du haut*/
    text-align:justify;
    width:65%;
    font-size:large;
    margin: 50px auto;
}
.text_down{/*text du bas*/
    text-align:justify;
    width:65%;
    margin:auto;
    margin-top: 50px;
    font-size:large;
}
.title1{/*titre vin rouge*/
    width:500px;
    margin:auto;
    text-align:center;
    background-color: #9dd49b;
    text-transform:uppercase;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.title2{/*titre vin blanc*/
    width:500px;
    margin:auto;
    text-align:center;
    background-color: #9dd49b;
    text-transform:uppercase;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.galery2{/*second diaporama*/
    box-sizing: border-box;
    margin:auto;
    height:331px;
    width:500px;
    position:relative;
    overflow:hidden;
}
.slider2{/*second diaporama*/
    height:100%;
    width:600%;
    display:flex;
}
.bold{
    font-weight:bold;
}
@keyframes slide{
    0%{
        transform: translateX(0%)
    }
    10%{
        transform: translateX(0%)
    }
    25%{
        transform: translateX(-100%)
    }
    35%{
        transform: translateX(-100%)
    }
    50%{
        transform: translateX(-200%)
    }
    60%{
        transform: translateX(-200%)
    }
    75%{
        transform: translateX(-300%)
    }
    85%{
        transform: translateX(-300%)
    }
    99%{
        transform: translateX(-400%)
    }
    100%{
        transform: translateX(-400%)
    }
}
@media screen and (max-width:1000px){
    #container{
        display:flex;
        flex-direction:column;
        justify-content: space-around;
    } 
    .galery,.galery2,.container_slide,.container_slide2{
        margin:0;
        padding:0;
        width:300px;
    }
    .title1,.title2{
        width:300px;
        padding:0;
        margin-bottom:10px;
    }
    .text_down,.text_up{
        width:65%;
        margin: 50px auto;
    }
}


/***FIN DE CSS SLIDER IMAGES***/
/*-------SLIDER PRESENTATION------*/

/* ---------boutique------- da*/
h2, .card-price{
    text-align: center;
}
.card > img{
    width: 100%;
    height: 100%;
}
.container-card{
    display: grid;
    grid-template: auto / repeat(4, 1fr);
    justify-items: center;
    margin-bottom: 65px;
}

.card{
    display: grid;
    box-shadow: 35px 40px 45px 15px rgba(0,0,0,.16);
    width: 175px;
    height: 270px;
    grid-template-rows: 80% auto;
}
.card-content{
    text-align: center;
    font-size:medium; font-weight: bold;
}
.card-description > span{
    text-align: start;
    font-weight: lighter;
}

.card-price{
    text-align: center;
    font-size: large;
    font-weight: bold;
    color: #d6dde5;
}
.card-description{
    text-align:right;
}
button{
    height: 35px;
}
.cat-vin{
    text-align: center;
    margin: 50px 0;
}

@media screen and (max-width:800px) {
    .container-card{
        grid-template: auto/ repeat(2, 1fr);
        grid-gap: 15px;
        margin: 50px;
    }
    .card{
        margin-bottom: 50px;
    }
}
/* ---------boutique------- da*/
/* ----------Christophe------- */
h2{
    text-align: center;
    margin: 50px auto;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.texte{
    text-align: justify;
    padding: 10px;
    margin: 40px;
}
.img-qsn{
    float: right;
    width: 140px;
    height: auto;
    padding-left: 10px;
}
/*-------Formulaire-----*/
/***CSS FORMULAIRE CONTACT***/
form{
    display: flex;
    justify-content: center;
}
legend{/*Nous contacter*/
    text-align:center;
    font-weight: bold;
    font-size:larger;
}
.box{/*contour du formulaire*/
    border:none;
}
#pj{/*bouton pièce jointe*/
    background-color: #9dd49b;
    width:100px;
}
#Send{/*bouton envoyer*/
    background-color: #5fb458;
    margin-top:20px;
    padding:10px;
    width:190px;
    color:white;
}
.buttons{/*contour des boutons*/
    width:250px;
    margin-left:40px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.input{/*cadre input*/
   display: flex;
   width:250px;
}
#Send{
    border-radius: 15px;
}
/***FIN CSS FORMULAIRE CONTACT****/
/*-----formulaire------*/
 /* --------foooter-----chris */
footer{
    background-color: #5fb458;
    display: flex; 
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
}
ul,a{
    list-style: none;
    color: black;
}
 /* --------foooter-----chris */
